
.card{
	background-repeat: no-repeat !important;
	padding: 80px 150px;
	border: none !important;
	margin: 10px 20px;
}
.text-card{
	font-size: bold;
	border: 3px solid red;
	align-items: center;
}
.card img{
	padding: 0px;
}