/*Aqui CSS da imagem principal*/
#imag-up{
	display: flex;
	align-items: center;
	height: 500px;
	background-repeat:;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
}

.card{
	background-repeat: no-repeat !important;
/*	padding: 40px 30px;*/
	border: none !important;
	margin: 10px 20px;
}
.text-card{
	font-size: bold;
	border: 3px solid red;
	align-items: center;
}
.card img{
	padding: 0px;
}
#title-up{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding: 30px;
	max-width: 50%;

}
#title-ima{
	height: 40px;
}